{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

<main class="d-flex align-items-center" style="height: 50%;">
    <section class="container d-flex justify-content-center">
        <div class="row" style="width: 50%;">
            <div class="col-md-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title text-center">Reset password</h5>
                        <form method="POST" id="reset-form" role="form" autocomplete="off">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" name="email"
                                    autocomplete="email" maxlength="254" required="" id="id_email">
                            </div>
                            <button class="btn btn-primary" type="submit" style="width:100%;">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}