{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<!-- Header Area End -->
<main class="d-flex align-items-center" style="height: 50%;">

    <!-- Forgot Password Start -->
    <section class="container">
        <div class="container d-flex justify-content-center">
            <div class="row" style="width: 50%;">
                <div class="col-md-12">
                    {% if validlink %}
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                        <h5 class="card-title text-center">Reset Password</h5>
                        <form method="POST" class="form" action="" role="form" id="reset-password" autocomplete="off"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="password" class="form__input form-control" placeholder=" "
                                    autocomplete="new-password" required="" id="id_new_password1" name="new_password1">
                                <label for="id_new_password1" class="form__label">New Password</label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form__input form-control" placeholder=" "
                                    autocomplete="new-password" required="" id="id_new_password2" name="new_password2">
                                <label for="id_new_password2" class="form__label">Confirm Passwords</label>
                            </div>
                            <a href="{% url 'login' %}"><button class="btn btn-primary" type="submit" style="width:100%;">Reset
                                    Password</button></a>
                        </form>
                    </div>
                    {% else %}
                    <div class="account-sign-in">
                        <h4 class="text-center modi-sm">Password reset link expired</h4>
                        <div style="margin-top:10px;">
                            <p class="text-center" style="font-weight:400;">This password reset link is invalid. You can <a href="{% url 'password_reset' %}" style="color:black; font-weight:500;">request a new password reset</a>.</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
    </section>
    <!-- Forgot Password End -->

</main>
{% endblock %}